<div class="container">
 <nav class="nav  navbar-static-top nav-tabs">
      <a class="navbar-brand" href="#">Treerly</a>
      <ul class="nav nav-tabs navbar-right">
        <li role="presentation" class="dropdown ">
          <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
             href="#">美丽千林</a>
            <ul class="dropdown-menu">
                <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
            </ul>
        </li>
        <li class="dropdown " role="presentation">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">健康千林</a>
            <ul class="dropdown-menu">
                 <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
            </ul>
        </li>
         <li class="dropdown " role="presentation">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">美丽千林</a>
            <ul class="dropdown-menu">
                 <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
            </ul>
        </li>
           <li class="dropdown " role="presentation">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">营养千林</a>
            <ul class="dropdown-menu">
                 <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
                <li><a href="">千林胡萝卜素</a></li>
            </ul>
        </li>
      </ul>
    </nav>
    </div>